$row-padding: 5px;

.member-table {
  list-style: none;
  width: 20rem;
  background-color: lightgray;
  border: 1px solid dimgray;
  padding: 0;

  .header {
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    padding: $row-padding;
    border: 1px solid dimgray;
  }

  .member-row {
    padding: $row-padding;
    border-bottom: 1px solid dimgray;
    display: flex;

    .waiting {
      font-size: 2px;
      color: white;
      margin: 0 0 0 10px;
    }

    input {
      &.removing {
        display: none;
      }
    }

    label {
      color: black;

      &.notify {
        animation: fadeInNew 5s;
      }

      @keyframes fadeInNew {
        from {
          color: aqua;
        }
        to {
          color: black;
        }
      }

      &.removing {
        color: white;
        text-decoration: line-through;
        margin-left: 20px;
      }
    }
  }
}