<ul class="member-table" ng-if="0 < $ctrl.members.length">
  <li class="header">
    <label for="header">
      <input id="header"
             type="checkbox"
             ng-click="$ctrl.allSelectedClicked()"
             ng-checked="$ctrl.allSelected"
             ng-disabled="$ctrl.inProgress"/>
      NAME
    </label>
  </li>

  <li ng-repeat="member in $ctrl.members | orderBy:$ctrl.orderByName track by member.get('id')" class="member-row">
    <div ng-class="{waiting: member.get('selected') && $ctrl.inProgress}"></div>

    <label for="checkbox-{{$index}}"
           ng-class="{
             removing: member.get('selected') && $ctrl.inProgress,
             notify: member.get('notify'),
           }">

      <input id="checkbox-{{$index}}"
             type="checkbox"
             ng-click="$ctrl.checkClicked(member)"
             ng-checked="member.get('selected')"
             ng-class="{removing: member.get('selected') && $ctrl.inProgress}"
             ng-disabled="$ctrl.inProgress"/>
      {{member.get('name')}}
    </label>
  </li>
</ul>
