<div class="team-page">
  <h1>{{$ctrl.teamName}}</h1>

  <div class="action-bar">
    <button ng-if="0 == $ctrl.selectedCount"
            ng-click="$ctrl.addMemberClicked($event)">
      Add Member
    </button>

    <div class="adding-count" ng-if="0 < $ctrl.addingCount">
      Adding {{$ctrl.addingCount}}
    </div>

    <div class="waiting" ng-if="0 < $ctrl.addingCount"></div>

    <button ng-if="1 <= $ctrl.selectedCount && 0 == $ctrl.addingCount"
            ng-click="$ctrl.removeMembersClicked()"
            ng-disabled="$ctrl.inProgress">
      Remove {{$ctrl.selectedCount}} Member(s)
    </button>
  </div>

  <confirm ng-if="$ctrl.confirm"></confirm>
  <member-table></member-table>
</div>
