.team-page {
  margin: 50px;

  [disabled] {
    color: lightgray;
  }

  .action-bar {
    display: flex;

    .adding-count {
      margin-left: 10px;
    }

    .waiting {
      font-size: 2px;
      color: gray;
      margin: 0 10px;
    }
  }
}